In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#import linear regression model
from sklearn.linear_model import LinearRegression
sns.set(color_codes=True)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import preprocessing as pp

In [27]:
A=pd.read_csv("iris.csv", header= None, names= ['SepalL', 'SepalW','PetalL','PetalW','Class'])
A.head()

   SepalL  SepalW  PetalL  PetalW        Class
0     5.1     3.5     1.4     0.2  Iris-setosa
1     4.9     3.0     1.4     0.2  Iris-setosa
2     4.7     3.2     1.3     0.2  Iris-setosa
3     4.6     3.1     1.5     0.2  Iris-setosa
4     5.0     3.6     1.4     0.2  Iris-setosa

In [28]:
import copy
B=copy.deepcopy(A)
B.head()

   SepalL  SepalW  PetalL  PetalW        Class
0     5.1     3.5     1.4     0.2  Iris-setosa
1     4.9     3.0     1.4     0.2  Iris-setosa
2     4.7     3.2     1.3     0.2  Iris-setosa
3     4.6     3.1     1.5     0.2  Iris-setosa
4     5.0     3.6     1.4     0.2  Iris-setosa

In [8]:
A['Class'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Class, dtype: int64

In [29]:
a=pp.LabelEncoder()
a.fit(B["Class"])
B["Class"]=a.transform(B["Class"])

In [31]:
B.head()

   SepalL  SepalW  PetalL  PetalW  Class
0     5.1     3.5     1.4     0.2      0
1     4.9     3.0     1.4     0.2      0
2     4.7     3.2     1.3     0.2      0
3     4.6     3.1     1.5     0.2      0
4     5.0     3.6     1.4     0.2      0

In [32]:
x=B[['SepalL', 'SepalW','PetalL','PetalW']]
y= B[['Class']]

B['Class'].value_counts()

In [34]:
lr=LogisticRegression()
lr.fit(x,y)

C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
ypredict=lr.predict(x)

In [36]:
acc=metrics.accuracy_score(y,ypredict)
acc

0.96

In [38]:
cm=metrics.confusion_matrix(y,ypredict)
cm

array([[50,  0,  0],
       [ 0, 45,  5],
       [ 0,  1, 49]], dtype=int64)

1st species--> all 50 are correctly classified

2nd species--> 45 correctly classified

3rd species--> 49 correctly classified

here all of them are true positive values

in case of multiple classes we have pecision and recall instead of tnr and tpr

In [39]:
ypredict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [42]:
cr=metrics.classification_report(y,ypredict)
print(cr)

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        50
          1       0.98      0.90      0.94        50
          2       0.91      0.98      0.94        50

avg / total       0.96      0.96      0.96       150