In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\ASUS\\Desktop\\great learning\\Day1'

In [4]:
cd C:\Users\ASUS\Desktop\great learning\data sets

C:\Users\ASUS\Desktop\great learning\data sets

In [5]:
pwd

'C:\\Users\\ASUS\\Desktop\\great learning\\data sets'

In [6]:
pd.read_csv("gdp_improvement_rate.csv")

                                 country   growth_rate
0                             Bangladesh        13.438
1                               Ethiopia         8.464
2                                  China         6.800
3              Ivory Coast Cote d'Ivoire         7.632
4                                  Nepal         7.499
5                                   Iraq         7.234
6                                  India         7.200
7                                 Canada         7.146
8                       DjiboutiDjibouti         7.000
9                               Cambodia         6.947
10                        LaosLao P.D.R.         6.907
11                               Senegal         6.801
12                                 Macau         6.765
13                                Guinea         6.660
14                           Philippines         6.600
15                          Turkmenistan         6.505
16                              Tanzania         6.498
17                          Burkina Faso         6.384
18                               Vietnam         6.300
19                                Rwanda         6.160
20                          Sierra Leone         6.034
21                            Uzbekistan         5.974
22                           New Zealand         5.891
23                                 Ghana         5.891
24                               Iceland         5.508
25                               Romania         5.500
26                              Malaysia         5.900
27                                 Benin         5.401
28                                  Mali         5.300
29                                Panama         5.300
..                                   ...           ...
162                 United Arab Emirates         1.339
163                           San Marino         1.200
164                          Switzerland         1.008
165                                Haiti         1.000
166                                Palau         1.000
167                                Gabon         0.964
168                             Barbados         0.882
169                              Nigeria         0.842
170                              Namibia         0.792
171                               Brazil         0.748
172                            Belarus\t         0.735
173                         South Africa         0.695
174                                 Chad         0.601
175                            Swaziland         0.251
176                              Ecuador         0.200
177                         Saudi Arabia         0.131
178                              Burundi         0.001
179                                 Oman        -0.016
180                                 Iraq        -0.448
181                           Azerbaijan        -1.040
182                             Suriname        -1.178
183                    Brunei Darussalam        -1.265
184                                Yemen        -2.014
185                               Kuwait        -2.076
186  United StatesPuerto RicoPuerto Rico        -2.800
187                  Trinidad and Tobago        -3.176
188                    Republic of Congo        -3.630
189                          South Sudan        -6.256
190                    Equatorial Guinea        -7.391
191                            Venezuela       -12.000

[192 rows x 2 columns]