In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.datasets import load_iris
#train test split
from sklearn.cross_validation import train_test_split
#implementing decision tree
from sklearn.tree import DecisionTreeClassifier

# cross validation
from sklearn.cross_validation import cross_val_score

# logistic regression
from sklearn.linear_model import LogisticRegression

# random forest

from sklearn.ensemble import RandomForestClassifier

C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [135]:
churn= pd.read_csv('Churn_Modelling.csv')
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [136]:
churn.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [137]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [138]:
churn['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [139]:
churn['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [140]:
churn['Tenure'].value_counts()

2     1048
1     1035
7     1028
8     1025
5     1012
3     1009
4      989
9      984
6      967
10     490
0      413
Name: Tenure, dtype: int64

In [141]:
churn['NumOfProducts'].value_counts()

1    5084
2    4590
3     266
4      60
Name: NumOfProducts, dtype: int64

In [142]:
churn['HasCrCard'].value_counts()

1    7055
0    2945
Name: HasCrCard, dtype: int64

In [143]:
churn['IsActiveMember'].value_counts()

1    5151
0    4849
Name: IsActiveMember, dtype: int64

In [144]:
gen=pd.get_dummies(churn['Gender'])
churn = pd.concat([churn,gen],axis=1)

In [145]:
churn= churn.drop("Gender", axis= 1)

In [146]:
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Female,Male
0,1,15634602,Hargrave,619,France,42,2,0.00,1,1,1,101348.88,1,1,0
1,2,15647311,Hill,608,Spain,41,1,83807.86,1,0,1,112542.58,0,1,0
2,3,15619304,Onio,502,France,42,8,159660.80,3,1,0,113931.57,1,1,0
3,4,15701354,Boni,699,France,39,1,0.00,2,0,0,93826.63,0,1,0
4,5,15737888,Mitchell,850,Spain,43,2,125510.82,1,1,1,79084.10,0,1,0

In [147]:
geo=pd.get_dummies(churn['Geography'])
churn = pd.concat([churn,geo],axis=1)

In [148]:
churn= churn.drop("Geography", axis= 1)
churn= churn.drop("Surname", axis= 1)
churn= churn.drop("RowNumber", axis= 1)
churn= churn.drop("CustomerId", axis= 1)

In [149]:
churn.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Female,Male,France,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,1,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,1,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,1,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0,0,0,1

In [150]:
churn.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Female', 'Male',
       'France', 'Germany', 'Spain'],
      dtype='object')

In [151]:
x= churn.drop('Exited', axis=1)
y= churn['Exited']

In [152]:
from sklearn.cross_validation import train_test_split
xtrain, xtest, ytrain , ytest= train_test_split(x, y, random_state=123)

In [153]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(x[['CreditScore','Age', 'Balance', 'EstimatedSalary']])
x[['CreditScore','Age', 'Balance', 'EstimatedSalary']] = scaler.transform(x[['CreditScore','Age', 'Balance', 'EstimatedSalary']])

In [154]:
tree= DecisionTreeClassifier()
model_tree= tree.fit(xtrain, ytrain)

# make predictions and find the accuracy
pred_tree=tree.predict(xtest)

print(metrics.accuracy_score(ytest, pred_tree))

0.7976

In [155]:
scores_tree= cross_val_score(tree, x, y, scoring= 'accuracy', cv=10)
scores_tree

array([0.78221778, 0.78821179, 0.81918082, 0.784     , 0.821     ,
       0.769     , 0.8       , 0.7987988 , 0.79179179, 0.77777778])

In [156]:
print(np.mean(scores_tree))

0.7931978757978758

In [157]:
rf= RandomForestClassifier()
rf_model= rf.fit(xtrain, ytrain)
pred_rf= rf.predict(xtest)
print(metrics.accuracy_score(ytest, pred_rf))

0.85

In [158]:
scores_rf= cross_val_score(rf, x, y, scoring= 'accuracy', cv=10)
print(np.mean(scores_rf))

0.8509988102988103

In [159]:
from sklearn.linear_model import LogisticRegression

In [160]:
lr= LogisticRegression()

In [161]:
lr_model= lr.fit(xtrain, ytrain)
lr_predict=lr.predict(xtest)
print(metrics.accuracy_score(ytest, lr_predict))

0.7828

In [162]:
scores_rf= cross_val_score(rf, x, y, scoring= 'accuracy', cv=10)
print(np.mean(scores_rf))

0.8514988122988123

In [163]:
from sklearn.neighbors import KNeighborsClassifier

In [164]:
knn=KNeighborsClassifier()

In [165]:
model_knn= knn.fit(xtrain, ytrain)
pred_knn= knn.predict(xtest)
print(metrics.accuracy_score(ytest, pred_knn))

0.754

In [166]:
scores_knn= cross_val_score(knn, x, y, scoring= 'accuracy', cv=10)
print(np.mean(scores_knn))

0.8230002930002931

## Parameter Tuning

In [180]:
from sklearn.model_selection import GridSearchCV

In [181]:
# parameter tuning using grid search
#parameter grid

rf_parameters={
    'n_estimators': [200,500],
    'criterion': ['gini', 'entropy'],
    'max_depth': [4,5,6,7,8],
    'max_features': ['auto', 'sqrt', 'log2', None] ,
    'bootstrap': [True, False]
}

In [182]:
grid_srch= GridSearchCV(estimator=rf, param_grid=rf_parameters, cv=5)

In [183]:
grid_srch.fit(xtrain,ytrain)

KeyboardInterrupt:

In [ ]:
grid_srch.best_params_

In [ ]:
#parameter tuning for decision tree

dtree_parameters={
    
    'criterion': ['gini', 'entropy'],
    'max_depth': [2,3,4,5,6],
    'max_features': ['auto', 'sqrt', 'log2'] ,
    'splitter': ['best', 'random'],
    'min_samples_split': [10,20,30,50],
    'random_state':[123]
    
}

In [ ]:
grid_srch1= GridSearchCV(estimator=tree, param_grid=dtree_parameters, cv=5)

In [ ]:
grid_srch1.fit(xtrain,ytrain)

In [ ]:
grid_srch1.best_params_

In [173]:
# bagging model for d tree
from sklearn.ensemble import BaggingClassifier
bagg= BaggingClassifier(base_estimator=tree,n_estimators=20, bootstrap=True, oob_score=True)
bagg_model= bagg.fit(xtrain, ytrain)
bagg_predict= bagg_model.predict(xtest)
print(metrics.accuracy_score(ytest,bagg_predict))

0.854

C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:605: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:610: RuntimeWarning: invalid value encountered in true_divide
  predictions.sum(axis=1)[:, np.newaxis])

In [174]:
# bagging model for random forest
from sklearn.ensemble import BaggingClassifier
bagg= BaggingClassifier(base_estimator=rf,n_estimators=20, bootstrap=True, oob_score=True)
bagg_model= bagg.fit(xtrain, ytrain)
bagg_predict= bagg_model.predict(xtest)
print(metrics.accuracy_score(ytest,bagg_predict))

0.8608

C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:605: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\ASUS\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:610: RuntimeWarning: invalid value encountered in true_divide
  predictions.sum(axis=1)[:, np.newaxis])

In [175]:
# adaboost with random forest\
from sklearn.ensemble import AdaBoostClassifier
boost= AdaBoostClassifier( rf, n_estimators=5, learning_rate=1, random_state=123)
boost_model= boost.fit(xtrain, ytrain)
boost_predict= boost_model.predict(xtest)
print(metrics.accuracy_score(ytest,boost_predict))

0.8616

In [178]:
# adaboost with decision tree
from sklearn.ensemble import AdaBoostClassifier
boosttree= AdaBoostClassifier(tree, n_estimators=5, learning_rate=1, random_state=123)
boosttree_model= boosttree.fit(xtrain, ytrain)
boosttree_predict= boosttree_model.predict(xtest)
print(metrics.accuracy_score(ytest,boosttree_predict))

0.7956

In [179]:
from sklearn.ensemble import AdaBoostClassifier
boostlr= AdaBoostClassifier(lr, n_estimators=5, learning_rate=1, random_state=123)
boostlr_model= boostlr.fit(xtrain, ytrain)
boostlr_predict= boostlr_model.predict(xtest)
print(metrics.accuracy_score(ytest,boostlr_predict))

0.7864

In [ ]:
#Here the best model we created was with rf with ada boost